In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("HousingData.csv")
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2

In [3]:
df.isnull().sum()

CRIM       20
ZN         20
INDUS      20
CHAS       20
NOX         0
RM          0
AGE        20
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT      20
MEDV        0
dtype: int64

In [4]:
df.dtypes

CRIM       float64
ZN         float64
INDUS      float64
CHAS       float64
NOX        float64
RM         float64
AGE        float64
DIS        float64
RAD          int64
TAX          int64
PTRATIO    float64
B          float64
LSTAT      float64
MEDV       float64
dtype: object

In [5]:
df = df.fillna(df.mean()) ## Her alanı o alanın ortalaması ile doldur!
df.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

In [6]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.980000,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.140000,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.030000,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.940000,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,12.715432,36.2

In [32]:
X = df.drop(columns=["MEDV"])
y = df["MEDV"]

In [17]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\pc1\miniconda3\envs\my_env\lib\site-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in c:\users\pc1\miniconda3\envs\my_env\lib\site-packages (from scikit-learn) (2.2.3)
Requirement already satisfied: scipy>=1.6.0 in c:\users\pc1\miniconda3\envs\my_env\lib\site-packages (from scikit-learn) (1.15.2)
Requirement already satisfied: joblib>=1.2.0 in c:\users\pc1\miniconda3\envs\my_env\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\pc1\miniconda3\envs\my_env\lib\site-packages (from scikit-learn) (3.6.0)

In [33]:
X

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.200000,4.0900,1,296,15.3,396.90,4.980000
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.900000,4.9671,2,242,17.8,396.90,9.140000
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.100000,4.9671,2,242,17.8,392.83,4.030000
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.800000,6.0622,3,222,18.7,394.63,2.940000
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.200000,6.0622,3,222,18.7,396.90,12.715432
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.100000,2.4786,1,273,21.0,391.99,12.715432
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.700000,2.2875,1,273,21.0,396.90,9.080000
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.000000,2.1675,1,273,21.0,396.90,5.640000
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.300000,2.3889,1,273,21.0,393.45,6.480000
505,0.04741,0.0,11.93,0.0,0.573,6.030,68.518519,2.5050,1,273,21.0,396.90,7.880000

In [34]:
y

0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: MEDV, Length: 506, dtype: float64

In [35]:
# Veriyi train ve test split etmek.
from sklearn.model_selection import train_test_split

In [36]:
train_test_split(X, y, test_size=0.5, random_state=42)

[         CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD  TAX  \
 475   6.39312   0.0  18.10   0.0  0.584  6.162  97.4  2.2060   24  666
 299   0.05561  70.0   2.24   0.0  0.400  7.041  10.0  7.8278    5  358
 296   0.05372   0.0  13.92   0.0  0.437  6.549  51.0  5.9604    4  289
 198   0.03768  80.0   1.52   0.0  0.404  7.274  38.3  7.3090    2  329
 377   9.82349   0.0  18.10   0.0  0.671  6.794  98.8  1.3580   24  666
 ..        ...   ...    ...   ...    ...    ...   ...     ...  ...  ...
 106   0.17120   0.0   8.56   0.0  0.520  5.836  91.9  2.2110    5  384
 270   0.29916  20.0   6.96   0.0  0.464  5.856  42.1  4.4290    3  223
 348   0.01501  80.0   2.01   0.0  0.435  6.635  29.7  8.3440    4  280
 435  11.16040   0.0  18.10   0.0  0.740  6.629  94.6  2.1247   24  666
 102   0.22876   0.0   8.56   0.0  0.520  6.405  85.4  2.7147    5  384

      PTRATIO       B  LSTAT
 475     20.2  302.76  24.10
 299     14.8  371.58   4.74
 296     16.0  392.85   7.39
 198     12.6  392.20   6.62
 377     20.2  396.90  21.24
 ..       ...     ...    ...
 106     20.9  395.67  18.66
 270     18.6  388.65  13.00
 348     17.0  390.94   5.99
 435     20.2  109.85  23.27
 102     20.9   70.80  10.63

 [253 rows x 13 columns],
         CRIM         ZN      INDUS  CHAS    NOX     RM        AGE     DIS  \
 173  0.09178   0.000000  11.083992   0.0  0.510  6.416  68.518519  2.6463
 274  0.05644  40.000000   6.410000   1.0  0.447  6.758  32.900000  4.0776
 491  0.10574   0.000000  27.740000   0.0  0.609  5.983  98.800000  1.8681
 72   0.09164   0.000000  10.810000   0.0  0.413  6.065   7.800000  5.2873
 452  5.09017   0.000000  18.100000   0.0  0.713  6.297  91.800000  2.3682
 ..       ...        ...        ...   ...    ...    ...        ...     ...
 103  0.21161   0.000000   8.560000   0.0  0.520  6.137  68.518519  2.7147
 81   0.04462  25.000000   4.860000   0.0  0.426  6.619  70.400000  5.4007
 38   0.17505   0.000000   5.960000   0.0  0.499  5.966  30.200000  3.8473
 317  0.24522   0.000000   9.900000   0.0  0.544  5.782  71.700000  4.0317
 167  1.80028  11.211934  19.580000   0.0  0.605  5.877  79.200000  2.4259

      RAD  TAX  PTRATIO       B  LSTAT
 173    5  296     16.6  395.50   9.04
 274    4  254     17.6  396.90   3.53
 491    4  711     20.1  390.11  18.07
 72     4  305     19.2  390.91   5.52
 452   24  666     20.2  385.09  17.27
 ..   ...  ...      ...     ...    ...
 103    5  384     20.9  394.47  13.44
 81     4  281     19.0  395.63   7.22
 38     5  279     19.2  393.43  10.13
 317    4  304     18.4  396.90  15.94
 167    5  403     14.7  227.61  12.14

 [253 rows x 13 columns],
 475    13.3
 299    29.0
 296    27.1
 198    34.6
 377    13.3
        ...
 106    19.5
 270    21.1
 348    24.5
 435    13.4
 102    18.6
 Name: MEDV, Length: 253, dtype: float64,
 173    23.6
 274    32.4
 491    13.6
 72     22.8
 452    16.1
        ...
 103    19.3
 81     23.9
 38     24.7
 317    19.8
 167    23.8
 Name: MEDV, Length: 253, dtype: float64]